h1{
    text-align: center;
}


footer {
    text-align: center;
    margin-top: 440px;
    background-color: black;
    color: white;
    padding: 10px;
}

p{
    margin-bottom: 2px;
}

#seccion1{
    background-color: teal;
}

#seccion4{
    background-color: yellowgreen;
}

#contentCards{
    padding-top: 50px;
}

.imgCircle{
    border-radius: 80px;
}