h1{
    text-align: center;
}


footer {
    text-align: center;
    margin-top: 440px;
    background-color: black;
    color: white;
    padding: 10px;
}

p{
    margin-bottom: 2px;
}

#seccion1{
    background-color: teal;
}

#seccion4{
    background-color: yellowgreen;
}

#contentCards{
    padding-top: 50px;
    padding-bottom: 70px;
}

.imgCircle{
    border-radius: 80px;
}

.cardLarge{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;
}

h1{
    text-align: left;
}

#contentBannerHeroe{
    height: 500px;
    background-image: url("/img/city.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#contentHeroe{
    margin-top: -150px;
}